body{
  background: linear-gradient(to right, #63a8da, #9ecae8, #e2eff8, #e2eff8, #9ecae8, #63a8da)

}
.align-views {
  padding-top: 55px;
}
.box-row {
  display: flex;
  flex-direction: row;
}
.box-column {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  body {
      background: #2f1cd8;
  }
  #nav {
    border-radius: 0 0 0 0;
    height: 40px;
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #item1 {
    margin-top: 9px;
  }
  #item2 {
    margin-top: 9px;
  }
  #item3 {
    margin-top: 9px;
  }
}