body {
  background-image: url("img/Mapa_mundi.jpg") ;
  background-repeat: no-repeat;
  background-position-x: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  width: 100vw;
}

@media screen and (max-width: 800px) {
  body {
      background: #2f1cd8;
  }
  #nav {
    border-radius: 0 0 0 0;
    height: 40px;
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #item1 {
    margin-top: 9px;
  }
  #item2 {
    margin-top: 9px;
  }
  #item3 {
    margin-top: 9px;
  }
}