@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.style-box-one {
    background-image: url("../../img/background-home-one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    border-radius: 0 0 200px 0;
    box-shadow: 0px 0px 20px;
}
.style-box-two {
    height: 40px;
}
.style-box-three {
    width: 100vw;
    height: 440px;
    background-color: #459edb;
}
.style-box-four {
    background-color: #fff;
    font-family: 'Bebas Neue', cursive;
    box-shadow: 0px 0px 15px;
}
.home {
    text-align: center;
    margin: auto;
    max-width: 1050px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 10px 40px;
    letter-spacing: 3px;
}
.style-body-contents {
    width: 100vw;
    padding-top: 50px;
}
.box-contents {
    margin: auto;
    width: 430px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 10px;
    border-radius: 20px;
    align-items: center;

}
.icon-home {
    font-size: 50px;
    padding: 20px;
}
.label-contents {
    margin: 0;
    width: 95%;
    padding-top: 5px;
    padding-bottom: 10px;
}
.label-contents label {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    padding-top: 3px;
}
.label-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    letter-spacing: 2px;
}