@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.star {
    font-size: 25px;
    color: rgb(119, 119, 119);
}
.star:hover {
    color: rgb(255, 60, 0);
}
.starUp {
    font-size: 25px;
    color: rgb(211, 207, 0);
}
.starUp:hover {
    color: rgb(255, 60, 0);
}
.station {
    font-size: 25px;
    padding: 10px;
}
.summer {
    color: #ff8410;
}
.fall {
    color: #e6c01a;
}
.winter {
    color: #6cb8bb;
}
.spring {
    color: #0e681a;
}
.stations {
    display: flex;
    flex-direction: row;
}
.buttonState {
    width: 100px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid rgb(24, 24, 24);
    color: #000000;
    background-color: rgb(109, 109, 109, 0.6);
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.buttonState:hover {
    background-color: #000;
    color: #fff;
}
.buttonStateUp {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid rgb(134, 134, 134, 0.7);
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.buttonStateUp:hover {
    background-color: #000;
    color: #fff;
}
.body-register {
    padding: 10px 0;
}
.register {
    user-select: none;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 10px;
    border-radius: 40px;
    margin: auto;
    max-width: 1050px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    padding: 10px 40px;
}
.register h1 {
    text-align: center;
}
.register-form {
    display: flex;
    flex-direction: column;
}
.aling-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 0;
}
.aling-form label{
    padding-top: 10px;
    padding-bottom: 5px;
}
.register-input {
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    border-radius: 10px;
}
.register-search {
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    border-radius: 10px;
}
.countries-lists {
    padding: 10px;
    margin: 10px;
    border-radius: 0px;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
.buttonCountry {
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 15px;
    border: 2px solid rgb(24, 24, 24);
    color: #000000;
    background-color: rgb(109, 109, 109, 0.6);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}
.body-countries {
    padding: 10px 0;
}
.countries {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 10px;
    border-radius: 40px;
    margin: auto;
    max-width: 1050px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    padding: 10px 40px;
    flex-direction: column;
}
.country-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.countries-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.country-icon-cross {
    font-size: 15px;
    color: rgb(175, 33, 33);
    padding: 0 10px 5px 10px;
}
.country-icon {
    font-size: 15px;
    color: rgb(0, 212, 11);
    padding: 0 10px 5px 10px;
}
.register-img {
    width: 500px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    border-radius: 10px;
}
.tipe-text1 {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
}
.accepted {
    color: rgb(0, 141, 7);
}
.rejected {
    color: rgb(214, 38, 38);
}
.width-input {
    width: 400px;
}
.button-activity {
    margin-top: 15px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #525252;
    background-color: #969696;
    color: rgb(0, 0, 0);
    box-shadow: 0px 2px 5px;
}
.button-activity:hover {
    background-color: rgb(190, 190, 190);
    color: rgb(0, 0, 0);
}

.register-result {
    margin: auto;
    margin-top: 20px;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 10px;
    border-radius: 40px;
    max-width: 1050px;
    padding: 10px 40px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}